<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>O Senhor Dos Hotéis </title>
</head>

</body>
  <div class="container">
          <nav>
            <div class="logo">
              <img src="imagem/logo.jpg" alt="O Senhor Dos Anéis" class="imagem-painel">
              <img src="imagem/folhae.png" alt="folhae" class="folhae">
              <div class="titulo"> O Senhor <br> Dos Hotéis</div>
            <hr>
            </div>
            <ul>
              <li><a href="#">Suporte</a></li>
              <li><a href="{{ url_for('login_cadastro') }}" class="button">Acessar Login/Cadastro</a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </nav>
        
  </div>
  <body>
    <div class="fundo"></div>
  </body>
  <body>  
    <div class="parallax"></div>
    <div class="content">
        
    </div>
    <div class="parallax"></div>
</body>
